{% extends "logiflex_base.html" %}
{% load static %}
{% block head_title %}

{% endblock head_title %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block header_left %}

{% endblock header_left %}

{% block header_right %}

{% endblock header_right %}

{% block pdf_button %}
{% endblock pdf_button %}

{% block main_menu%}

{% endblock main_menu%}

{% block left_menu %}

{% endblock left_menu %}

{% block breadcrumb %}

{% endblock breadcrumb %}
{% block contact_area %}

<div class="row mb-40 mt-40" >
        <div class="col-4">
            <div class="logo-area" style="max-width:100px;">
                <a href="{% url 'logiflex:index' %}"><img src={% static "assets/logo/logo1-1.png" %} alt="logo"></a>
            </div>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            <span id="report_date">
                09/15/2025
            </span>
        </div>
</div>
<section class="hero-area" data-background={% static "vendor/transport/assets/images/hero-bg.jpg" %} style="padding: 0px; max-height: 600px; margin-top: 160px;">
    <div class="row" >

        <div class="col-6 align-content-center">
            <h2 class="mt-10" style="color: #5da4d8">Mascaw Tech.</h2>
            <h3 class="ms-4 mt-20" style="color: white; padding: 0px" >
                Advanced FreightOPS Report
            </h3>
            <h4 style="color: #5da4d8">Report: RPT-2025-000192</h4>
        </div>
        <div class="col-6">
            <div class="hero-image">
                <img src={% static "vendor/transport/assets/images/hero-1.png" %} alt="hero" class="hero-image-1">
                <img src={% static "vendor/transport/assets/images/hero-2.png" %} alt="hero" class="hero-image-2">
            </div>

        </div>

    </div>
</section>
{% endblock contact_area %}
{% block feature_area %}

{% endblock feature_area %}

<!-- cta area starts -->
{% block cta_area %}

{% endblock cta_area %}

<!-- footer area starts -->
{% block footer_area %}

{% endblock footer_area %}

{% block js_area %}
    {{ block.super }}
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const reportdate = document.getElementById("report_date");
        reportdate.innerHTML = today.toLocaleDateString();
    })
    }
    </script>
{% endblock js_area %}