{% extends "logiflex_base.html" %}
{% load static %}
{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block css %}
    {{ block.super }}
{% endblock css %}
{% block contact_area %}
<section class="service-area py-120">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-top">
                            <span class="sub-title">latest service</span>
                            <h3 class="title mt-10">service we <span>provide</span></h3>
                        </div>
                    </div>
                </div>


            </div>

            <div class="service-bg-card">
                <span class="text-stroke">LOGIFLEX</span>
                <img src={% static "vendor/transport/assets/images/frontpage.jpg"%} alt="service-bg">
            </div>
        </section>
{% endblock contact_area %}

{% block js_area %}
    {{ block.super }}
{% endblock js_area %}