{% extends "logiflex_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block header_left %}
    {{ block.super }}
{% endblock header_left %}

{% block header_right %}
    {{ block.super }}
{% endblock header_right %}

{% block pdf_button %}
{% endblock pdf_button %}

{% block main_menu%}
    {{ block.super }}
{% endblock main_menu%}

{% block left_menu %}
    {{ block.super }}
{% endblock left_menu %}

{% block breadcrumb %}
     <section class="breadcrumb-area mb-1" style="padding: 80px 0 20px" data-background={% static "vendor/transport/assets/images/breadcrumb-bg1.jpg" %}>
            <div class="container">
                <div class="row">
                    <div class="col-12 justify-content-center align-items-center">
                        <h1 class="title">LogiFlex</h1>
                        <h2 class="title" style="color: #0cb7d6;">&nbsp;{% trans "Dashboard" %}</h2>


                    </div>
                </div>
            </div>
        </section>
{% endblock breadcrumb %}

{% block contact_area %}
    <section class="service-area-2 biography-area py-120" data-background={% static "vendor/transport/assets/images/service-bg-2.jpg"%}>
        <div class="container">
            <div class="row justify-content-around">
                {% if report_allowed == 1 %}
                    <div class="col-12 text-center mb-20"><a href="{% url 'logiflex:reports:fullreport' %}" class="btn btn-success">{% trans "Create New Report" %}</a> </div>
                {% else %}
                    <div class="col-12 text-center mb-20"><a href="{% url 'logiflex:securepay:payment_page' %}" class="btn btn-success">{% trans "Create New Report" %}</a> </div>
                {% endif %}
                <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".2s" style="margin-bottom: 120px;">
                    <hr> <span class="sub-title text-center" style="color: #0cb7d6; font-size: 24px">PAYMENTS & SUBSCRIPTION STATUS</span> <hr>
                    <div class="card mb-3" style="background-color: #f5f5f5;">
                    <div class="card-body p-0">
                      <div class="row g-0">
                        <div class="col-md-4" style="background-color: #54595F;">
                          <img src="{% static "vendor/transport/assets/images/card2.jpg" %}" class="img-fluid rounded-start" style="height: 150px" alt="...">
                        </div>
                        <div class="col-md-8" style="background-color: #54595F; padding-left: 10px; padding-top: 10px;">
                                <h6 style="color: white;font-weight: 600;margin-bottom: 20px;">Subscription</h6>

                              <div class="row w-100">
                              <div class="col-sm-6">
                                  <p class="text-end me-4" style="color:white;">Status:
                                    {% if subscrib_status %}
                                        <span style="color: #0ae536">Active</span>
                                    {% else %}
                                        <span style="color: #fa4242">InActive</span>
                                    {% endif %}
                                </p>
                              </div>
                              <div class="col-sm-6">
                                  <p class="text-end me-4" style="color:white;">Start On: <span style="color: #fa4242">
                                      {% if startdate %}
                                        {{ startdate|date:"M d, Y" }}
                                      {% else %}
                                        {{ startdate }}
                                      {% endif %}
                                        </span></p>

                              </div>
                              <div class="col-sm-6">
                                  <p class="text-end me-4" style="color:white;">Type:
                                    {% if servicetype == "starter" %}
                                        <span style="color: #0ae536">Starter</span>
                                    {% elif servicetype == "pro" %}
                                        <span style="color: #0ae536">Pro</span>
                                    {% elif servicetype == "quarterly" %}
                                        <span style="color: #0ae536">Quarterly</span>
                                    {% elif servicetype == "daily" %}
                                        <span style="color: #0ae536">Daily</span>
                                    {% endif %}
                                </p>
                              </div>
                            <div class="col-sm-6">
                                  <p class="text-end me-4" style="color:white;">Valid Until: <span style="color: #fa4242">
                                      {% if enddate %}
                                        {{ enddate|date:"M d, Y" }}
                                      {% else %}
                                        {{ enddate }}
                                      {% endif %}
                                  </span></p>

                              </div>

                            </div>

                          </div>

                        </div>
                      </div>
                    <div class="card-footer" style="background-color: white">
                        <h5 class="text-center" style="color: #000000;">Available Reports and Credits</h5>
                            <div class="row">
                                <div class="col-md-3 col-6 d-block text-center px-0 pt-2" style="background-color: #54595F;">
                                    <h6 style="color: white; font-weight: 600; font-size: 16px;">Advanced Reports</h6>
                                    <h5 style="color: white">{{ areports }}</h5>
                                </div>
                                <div class="col-md-3 col-6 d-block text-center pt-2" style="background-color: #CAA851;">
                                    <h6 style="color: white; font-weight: 600; font-size: 16px;">Lite Reports</h6>
                                    <h5 style="color: white">{{ lreports }}</h5>
                                </div>
                                <div class="col-md-3 col-6 d-block text-center px-0 pt-2" style="background-color: #688DB9;">
                                    <h6 style="color: white; font-weight: 600; font-size: 16px;">Advanced Credits</h6>
                                    <h5 style="color: white">{{ acredits }}</h5>
                                </div>
                                <div class="col-md-3 col-6 d-block text-center pt-2" style="background-color: #9E6243;">
                                    <h6 style="color: white; font-weight: 600; font-size: 16px;">Lite Credits</h6>
                                    <h5 style="color: white">{{ lcredits }}</h5>
                                </div>
                            </div>
                    </div>
                    </div>


                            <div class="card">
                                <div class="card-body">
                                <div class="blog-sidebar">

                                    <div class="sidebar-widget" style="padding: 20px;">
                                        <h5 class="widget-title">{% trans "LATEST PAYMENTS" %}</h5>
                                        <ul>
                                            {% for payment in payments %}
                                                <li class="d-flex justify-content-around align-items-center">
                                                    <a href="{% url 'logiflex:payments:receipt' %}?cat={{ payment.download_code }}" class="btn btn-outline-primary btn-sm" target="_blank" rel="noopener noreferrer" style="padding: 10px 0px; width: 100px">
                                                        <span style="text-transform: uppercase;font-size: 12px;">{{ payment.receipt_number }}</span>
                                                    </a>
                                                    <p>{{ payment.payment_date|date:"m/d/Y" }}</p>
                                                    <p style="color: #04b004">{{ payment.quantity }}</p>
                                                    <p style="color: #d20606">${{ payment.amount_paid }}</p>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                </div>
                            </div>


                </div>
                <div class="col-lg-6 wow fadeInRight align-content-center" data-wow-delay=".2s">

                    <hr> <span class="sub-title text-center" style="color: #0cb7d6; font-size: 24px">{% trans "REPORTS STATUS" %}</span> <hr>
                <div class="row">

                        <div class="col-12">
                            <div class="member-skill">

                            <div class="skills-section mt-20">
                                <div class="skill-wrapper">
                                    <div class="progress-content mb-10 d-flex align-items-center justify-content-between">
                                        <h6>{% trans "Reports Delivered On Time" %}</h6>
                                        <h6>{{ ontime_reports }}%</h6>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar progressbar-active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="max-width:{{ ontime_reports }}%;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="skills-section mt-20">
                                <div class="skill-wrapper">
                                    <div class="progress-content mb-10 d-flex align-items-center justify-content-between">
                                        <h6>{% trans "In Process Reports" %}</h6>
                                        <h6>{{ processing_reports }}%</h6>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar progressbar-active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="max-width:{{ processing_reports }}%;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="skills-section mt-20">
                                <div class="skill-wrapper">
                                    <div class="progress-content mb-10 d-flex align-items-center justify-content-between">
                                        <h6>{% trans "Canceled Reports" %}</h6>
                                        <h6>{{ canceled_reports }}%</h6>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar progressbar-active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="max-width:{{ canceled_reports }}%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skills-section mt-20">
                                <div class="skill-wrapper">
                                    <div class="progress-content mb-10 d-flex align-items-center justify-content-between">
                                        <h6>{% trans "Late Reports" %}</h6>
                                        <h6>{{ late_reports }}%</h6>
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar progressbar-active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="max-width:{{ late_reports }}%;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                    </div>
                    <div class="service-items d-flex justify-content-around mt-50">
                    <div class="row">
                        <div class="col-sm-4 wow fadeIn" data-wow-delay=".2s">
                            <div class="single-service-2" style="padding: 20px;">
                                <img src={% static "vendor/transport/assets/images/on-time.png" %} alt="icon" class="service-icon">
                                <h5 class="title"><a href="{% url 'logiflex:reports:list' %}?cat=download">{% trans "Available Reports" %}</a></h5>
                                <div class="d-flex mt-20" style="width: 100%;justify-content: center;">
                                    <a href="{% url 'logiflex:reports:list' %}?cat=download" class="btn btn-outline-danger" style="display: flex;align-items:center;max-height: 50px; border-color: #cccccc;width: 145px;border-radius: 30px;"><span class="text" style="font-size: 18px;margin-right: 10px;">{{ latest_ontime_reports }}&nbsp;{% trans "Reports" %}</span> <span class="icon"><i class="ri-arrow-right-circle-fill" style="font-size: 54px;color: #2ba3c4;"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeIn" data-wow-delay=".3s">
                            <div class="single-service-2" style="padding-top: 20px;padding-bottom: 20px;padding-right: 10px;padding-left: 10px;">
                                <img src={% static "vendor/transport/assets/images/process.png" %} alt="icon" class="service-icon">
                                <h5 class="title"><a href="{% url 'logiflex:reports:list' %}?cat=processing">{% trans "In Process Reports" %}</a></h5>
                                <div class="d-flex mt-20" style="width: 100%;justify-content: center;">
                                    <a href="{% url 'logiflex:reports:list' %}?cat=processing" class="btn btn-outline-danger " style="display: flex;align-items:center;max-height: 50px;border-color: #cccccc;width: 145px;border-radius: 30px;"><span class="text" style="font-size: 18px;margin-right: 10px;">{{ latest_processing_reports }}&nbsp;{% trans "Reports" %}</span> <span class="icon"><i class="ri-arrow-right-circle-fill" style="font-size: 54px;color: #2ba3c4;"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 wow fadeIn" data-wow-delay=".4s">
                            <div class="single-service-2" style="padding: 20px;">
                                <img src={% static "vendor/transport/assets/images/cancelled.png" %} alt="icon" class="service-icon">
                                <h5 class="title"><a href="{% url 'logiflex:reports:list' %}?cat=canceled">{% trans "Canceled Reports" %}</a></h5>
                                <div class="d-flex mt-20" style="width: 100%;justify-content: center;">
                                    <a href="{% url 'logiflex:reports:list' %}?cat=canceled"  class="btn btn-outline-danger" style="display: flex;align-items:center;max-height: 50px; border-color: #cccccc;width: 145px;border-radius: 30px;"><span class="text" style="font-size: 18px;margin-right: 10px;">{{ latest_canceled_reports }}&nbsp;{% trans "Reports" %}</span> <span class="icon"><i class="ri-arrow-right-circle-fill" style="font-size: 54px;color: #2ba3c4;"></i></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                <div class="blog-sidebar">

                                    <div class="sidebar-widget">
                                        <h5 class="widget-title">{% trans "New Analytical Reports" %}</h5>
                                        <ul>
                                            {% for newreport in newreports %}
                                                <li><a href="{% url 'logiflex:reports:reportview' newreport.pk %}?cat={{ newreport.download_code }}">{{ newreport.report_id }}&nbsp;-&nbsp;<span style="color: #a61b1b">{{ newreport.report_date }}</span> <span class="arrow-icon"><i class="ri-arrow-right-double-line"></i></span></a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
{#                        <div class="col-lg-6 col-sm-6 wow fadeIn" data-wow-delay=".3s">#}
{#                            <div class="single-service-2">#}
{#                                <img src={% static "vendor/transport/assets/images/being-late.png" %} alt="icon" class="service-icon">#}
{#                                <h5 class="title"><a href="{% url 'logiflex:reports:list' %}?cat=late">{% trans "Late Reports" %}</a></h5>#}
{##}
{#                                <a href="{% url 'logiflex:reports:list' %}?cat=late" class="primary-btn primary-bg mt-20"><span class="text">{{ latest_late_reports }}&nbsp;{% trans "Reports" %}</span> <span class="icon"><i class="ri-arrow-right-double-line"></i></span></a>#}
{#                            </div>#}
{#                        </div>#}


                    </div>
                </div>
                </div>
            </div>
                        <div class="row mt-100">
                    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                        <div class="section-top text-center">

                            <h3 class="title mt-10">Buy New Credits</h3>
                            <span class="sub-title">Add Lite or Advanced Reports.</span>
                        </div>
                    </div>
                </div>

                <div class="row mt-50">
                    <div class="col-lg-12 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-pricing">
                            <div class="content-part">
                                <h4 class="title">Lite</h4>
                                <div class="price-box d-flex align-items-center gap-2">
                                    <h3 class="price">$5</h3>
                                    <span>/{% trans "Report" %}</span>
                                </div>
                                <p>Automated Report With Insights and Necessary Actions</p>
                                <ul class="check-list">
                                    <li><span class="icon"><i class="ri-checkbox-fill"></i></span> {% trans "Route efficiency" %}</li>
                                    <li><span class="icon"><i class="ri-checkbox-fill"></i></span> {% trans "Cost savings insights" %}</li>
                                </ul>
                            </div>

                            <div class="pricing-button">
                                <a href="https://buy.stripe.com/cNicN52rvcP28tR8TQfjG00" class="secondary-btn">{% trans "Buy Now" %}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-pricing">
                            <div class="content-part">
                                <h4 class="title">Advanced</h4>
                                <div class="price-box d-flex align-items-center gap-2">
                                    <h3 class="price">$49</h3>
                                    <span>/{% trans "Report" %}</span>
                                </div>
                                <p>Advanced AI-Driven + Expert-Verified Report</p>
                                <ul class="check-list">
                                    <li><span class="icon"><i class="ri-checkbox-fill"></i></span> {% trans "Full Visualization Pack" %}</li>
                                    <li><span class="icon"><i class="ri-checkbox-fill"></i></span> {% trans "Predictive Trends + Benchmarking" %}</li>
                                </ul>
                            </div>

                            <div class="pricing-button">
                                <a href="https://buy.stripe.com/3cI5kD3vz5mA4dB2vsfjG04" class="secondary-btn">{% trans "Buy Now" %}</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </section>
{% endblock contact_area %}

{% block feature_area %}

{% endblock feature_area %}

<!-- cta area starts -->
{% block cta_area %}
    {{ block.super }}
{% endblock cta_area %}

<!-- footer area starts -->
{% block footer_area %}
    {{ block.super }}
{% endblock footer_area %}

{% block js_area %}
    {{ block.super }}
{% endblock js_area %}


