{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}

    <title>{% trans "Create NewsLetter" %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={% trans "Analytic Tools for Startups and small to medium Companies (SMB)" %}>
    <meta name="author" content="">
{% endblock %}

{% block css %}
    {{ block.super }}


{% endblock css %}

{% block content_head %}
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">{% trans "Home" %}</a></li>
        <li class="breadcrumb-item active">{% trans "Newsletter" %}</li>
    </ul>

    <h1 class="page-header">
        {% trans "Edit a Newsletter" %} <small>{% trans "Add or Edit a New Logiflex Newsletter" %}</small>
    </h1>
{% endblock content_head %}
{% block content_body %}
    <div id="formControls" class="mb-5">
        <div class="row">
            <div class="col-lg-6">

                <form action="" method="post" enctype="multipart/form-data">
                <div class="card mb-4">
                    <div class="card-header d-flex align-items-center bg-inverse bg-opacity-10 fw-400">
							{% trans "Newsletter Info" %}

                 </div>
                    <div class="card-body pb-2">

                            {% csrf_token %}

                            {{ form|crispy }}
                    </div>
                    <div class="card-arrow">
                        <div class="card-arrow-top-left"></div>
                        <div class="card-arrow-top-right"></div>
                        <div class="card-arrow-bottom-left"></div>
                        <div class="card-arrow-bottom-right"></div>
                    </div>
                    <div class="card-footer bg-none d-flex p-3">

                    <button type="submit" class="btn btn-outline-theme btn-lg ms-auto">{% trans "Submit" %}</button>

                </div>
                 <div class="card-arrow">
                     <div class="card-arrow-top-left"></div>
                     <div class="card-arrow-top-right"></div>
                     <div class="card-arrow-bottom-left"></div>
                     <div class="card-arrow-bottom-right"></div>
                 </div>
                </div>

                </form>



            </div>

        </div>

    </div>
{% endblock content_body %}


{% block js %}
    {{ block.super }}

{% endblock js %}