{% extends "logiflex_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    <meta name="description" content="Choose the right plan for your logistics business – free trial, one-time advanced reports, or monthly/quarterly freight analytics subscriptions.">
    <meta name="author" content='"freight report subscription pricing", "freight cost optimization tool for SMEs", "advanced logistics analysis at low cost", "AI freight analytics monthly plans"'>
    <!-- page title -->
    <title>Affordable Freight Analytics Plans | One-Time or Subscription</title>
{% endblock head_title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" %} >
    <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" %} >
    <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" %} >
    <link rel="stylesheet" type="text/css" href={% static "assets/plugins/bootstrap-table/distro/bootstrap-table.min.css" %} >
    {{ block.super }}
    <style>
    @media (max-width: 575.98px) {
        .breadcrumb-area .title2{
            font-size: 30px;
        }
        .breadcrumb-area .title1{
            font-size: 40px;
        }
    }
    </style>
{% endblock css %}

{% block header_left %}
    {{ block.super }}
{% endblock header_left %}

{% block header_right %}
    {{ block.super }}
{% endblock header_right %}

{% block pdf_button %}
{% endblock pdf_button %}

{% block main_menu%}
    {{ block.super }}
{% endblock main_menu%}

{% block left_menu %}
    {{ block.super }}
{% endblock left_menu %}

{% block breadcrumb %}
    <section class="breadcrumb-area mb-1" style="padding: 80px 0 20px" data-background={% static "vendor/transport/assets/images/breadcrumb-bg1.jpg" %}>
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <h1 class="title title1" style="font-size: 40px;">Payments List</h1>

                    </div>
                </div>
            </div>
        </section>
{% endblock breadcrumb %}

{% block contact_area %}
        <!-- contact area starts -->
<section class="contact-area pt-40 mb-40" >
            <div class="container" style="max-width: none;">
            <div class="row">
                <div class="col-md-8" id="col-1">
                <h5 class="title">{% trans "List of Payments" %}</h5>
                   <div id="datatable" class="mb-5">
                    <div class="card">
                    <div class="card-header">

                    </div>
                        <div class="card-body">
                            <table id="datatableDefault" class="table text-nowrap w-100">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans "Receipt Number" %}</th>
                                    <th>{% trans "Cl Company" %}</th>
                                    <th>{% trans "Payment Type" %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "Quantity" %}</th>
                                    <th>{% trans "Total" %}</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if payments == "none" %}

                                {% else %}
                                    {% for payment in payments %}
                                        <tr>
                                        <td>{{ payment.pk }}</td>
                                            <td>
                                                <div class="btn btn-outline-primary btn-sm " data-view="{{ payment.pk }}">
                                                    <span style="text-transform: uppercase;font-size: 12px;">{{ payment.receipt_number }}</span></div>
                                                </td>
                                            <td>{{ payment.client.company }}</td>
                                            <td>
                                                {% if payment.service_type.name == "onetime_lite" %}
                                                    Lite Report
                                                {% elif payment.service_type.name == "onetime_advanced" %}
                                                    Advanced Report
                                                {% elif payment.service_type.name == "starter" %}
                                                    Starter Subscription
                                                {% elif payment.service_type.name == "pro" %}
                                                    Pro Subscription
                                                {% elif payment.service_type.name == "quarterly" %}
                                                    Quarterly Subscription
                                                {% endif %}

                                                {{ payment.service_type.name }}

                                            </td>
                                            <td>{{ payment.payment_date|date:'Y-m-d H:i' }}</td>
                                            <td>{{ payment.quantity }}</td>
                                            <td>{{ payment.amount_paid }}</td>

                                        </tr>
                                    {% endfor %}

                                {% endif %}
                               </tbody>
                            </table>
                        </div>

                        <div class="hljs-container">
                            <pre><code class="xml" data-url="assets/data/table-plugins/code-1.json"></code></pre>
                        </div>
                    </div>
                </div>
                </div>
                <div class="" id="col-2" style="border: 2px solid rgb(204, 204, 204); background: #e1e0e0; display: none">
                    <div class="d-flex justify-content-between w-100" id="framebutton" style="display: none; background: #e1e0e0; height: 30px;">

                        <button class='btn btn-primary btn-sm' id="download-btn" style="display: none; height: 100%; font-size: 0.75rem; border-radius: 30px;"><span class="icon"><i class="ri-printer-fill"></i> Download</span></button>
                        <button class='btn btn-outline-primary btn-sm' id="removeButton" style="display: none; height: 100%; font-size: 0.75rem; border-radius: 30px;"><span class="icon"><i class="ri-close-fill"></i></span></button>
                    </div>
                    <div id="frameContainer" style="width: 100%; height: 100%"></div>
                </div>
            </div>


            </div>
        </section>

{% endblock contact_area %}

{% block feature_area %}
    {{ block.super }}
{% endblock feature_area %}

<!-- cta area starts -->
{% block cta_area %}
    {{ block.super }}
{% endblock cta_area %}

 <!-- footer area starts -->
{% block footer_area %}
    {{ block.super }}
    <form action="#" enctype="multipart/form-data">
        {% csrf_token %}
    </form>
{% endblock footer_area %}
{% block js_area %}
    {{ block.super }}
    <script src={% static "assets/plugins/datatables.net/js/dataTables.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js" %}></script>
        <script src={% static "assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons/js/buttons.flash.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons/js/buttons.html5.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons/js/buttons.print.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js" %}></script>
        <script src={% static "assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js" %}></script>
    	<script src={% static "assets/plugins/bootstrap-table/distro/bootstrap-table.min.js"%}></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src={% static "assets/js/demo/table-plugins.demo.js" %}></script>

    <script>
        function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

        const myButton = document.getElementById('download-btn');

// Add a click event listener
        myButton.addEventListener('click', function() {
            console.log()
            const reportContent = document.getElementById("frameContainer");
            console.log(reportContent);
            const opt = {
                    margin:      [10, 10, 10, 10],
                    filename:     'bizanalytic-receipt.pdf',
                    image:        { type: 'jpeg', quality: 0.98 },
                    html2canvas:  { scale: 2, useCORS: true },
                    jsPDF:        { unit: 'mm', format: 'a4', orientation: 'portrait' }
            };
                // Hide button before printing

            html2pdf().from(reportContent).set(opt).save().then(() => {
                    // Show button again after saving
                    //downloadBtn.style.display = 'block';
            });

         });
    </script>
    <script>
$("#removeButton").click(function (){
            const myFrame = document.getElementById('myFrame');

            console.log("Checked", myFrame);
            if (myFrame) {
                myFrame.remove(); // Removes the iframe element from the DOM
            }
            {#col1 = document.getElementById('col-1');#}
            {#col1.className = 'col-12';#}
            {#col1 = document.getElementById('col-2');#}
            {#col1.className = '';#}
            {#frameButton = document.getElementById('framebutton');#}
            {#frameButton.className= "";#}
            //$("#col-1").attr('class', 'col-md-8');
            var col2 = $("#col-2");
            col2.hide();
            col2.attr('class', '');

            $("#removeButton").hide();
            $("#framebutton").hide();
            $("#download-btn").hide();

        });

    </script>


{% endblock js_area %}