{% extends "logiflex_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block head_title %}
    <meta name="description" content="Choose the right plan for your logistics business – free trial, one-time advanced reports, or monthly/quarterly freight analytics subscriptions.">
    <meta name="author" content='"freight report subscription pricing", "freight cost optimization tool for SMEs", "advanced logistics analysis at low cost", "AI freight analytics monthly plans"'>
    <!-- page title -->
    <title>Affordable Freight Analytics Plans | One-Time or Subscription</title>
{% endblock head_title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" %} >
    <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" %} >
    <link rel="stylesheet" type="text/css" href={% static "assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" %} >
    <link rel="stylesheet" type="text/css" href={% static "assets/plugins/bootstrap-table/distro/bootstrap-table.min.css" %} >
    {{ block.super }}
{% endblock css %}

{% block header_left %}
    {{ block.super }}
{% endblock header_left %}

{% block header_right %}
    {{ block.super }}
{% endblock header_right %}

{% block pdf_button %}
{% endblock pdf_button %}

{% block main_menu%}
    {{ block.super }}
{% endblock main_menu%}

{% block left_menu %}
{#    <div class="nav-right-content">#}
{#        <a href="{% url 'logiflex:index' %}" class="primary-btn secondary-bg"><span class="text">{% trans "Try Free" %}</span> <span class="icon"><i class="ri-arrow-right-double-line"></i></span></a>#}
{#    </div>#}
    {{ block.super }}
{% endblock left_menu %}

{% block breadcrumb %}
    <section class="breadcrumb-area mb-1" style="padding: 80px 0 20px" data-background={% static "vendor/transport/assets/images/breadcrumb-bg1.jpg" %}>
            <div class="container">
                <div class="row">
                    <div class="col-12 justify-content-center align-items-center">
                        <h1 class="title">LogiFlex</h1>
                        <h2 class="title" style="color: #0cb7d6;">&nbsp;{% trans "Admin Dashboard" %}</h2>


                    </div>
                </div>
            </div>
        </section>
{% endblock breadcrumb %}

{% block contact_area %}
        <!-- contact area starts -->
<section class="contact-area pt-40 mb-40" >
            <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="title">{% trans "List of Processed Reports" %}</h5>
                <div id="datatable" class="mb-5">
                    <div class="card">
                    <div class="card-header">
                        <button type="button" class="btn btn-success" id="updategas">Update Gas Prices</button>
                    </div>
                        <div class="card-body">
                            <table id="datatableDefault" class="table text-nowrap w-100">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans "Client" %}</th>
                                    <th>{% trans "Report ID" %}</th>
                                    <th>{% trans "Report Type" %}</th>
                                    <th>{% trans "Data File" %}</th>
                                    <th>{% trans "Upload Time" %}</th>
                                    <th>{% trans "Expected Delivery" %}</th>
                                    <th>{% trans "Approve" %}</th>
                                    <th>{% trans "Final Report" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if reports == "none" %}

                                {% else %}
                                    {% for logireport in reports %}
                                        <tr>
                                            <td>{{ logireport.report_number }}</td>
                                            <td>{{ logireport.client.company }}</td>
                                            <td>
                                                {{ logireport.report_id }}
                                            </td>
                                            <td>{% if logireport.report_type == "Paid" %}
                                                    <span class="badge bg-success">{{ logireport.report_type }}</span>
                                                {% else %}
                                                    <span class="badge bg-warning">{{ logireport.report_type }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                    <a href="{% url 'logiflex:reports:detail' logireport.pk %}" class="btn btn-outline-primary btn-sm">{% trans "View" %}</a>
                                            </td>
                                            <td>
                                                {{ logireport.date_created|date:'Y-m-d H:i' }}
                                            </td>
                                            <td>
                                                {{ logireport.expected_delivery|date:'Y-m-d H:i' }}
                                            </td>
                                            <td>
                                                <div class="btn btn-info btn-sm " data-active="{{ logireport.pk }}">
                                                    <span style="text-transform: uppercase;font-size: 12px;">{% trans "Approve" %}</span></div>

                                            </td>
                                            <td>
                                                <a href="{% url 'logiflex:reports:reportview' logireport.pk %}?cat={{ logireport.download_code }}" class="btn btn-info btn-sm">
                                                    <span style="text-transform: uppercase;font-size: 12px;">{% trans "View Report" %}</span></a>
                                            </td>

                                        </tr>
                                    {% endfor %}

                                {% endif %}
                               </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                </div>
                <div class="col-md-6">
                    <h5 class="title">{% trans "List of Subscription Requests" %}</h5>
                <div id="datatable" class="mb-5">
                    <div class="card">
                    <div class="card-header">

                    </div>
                        <div class="card-body">
                            <table id="datatableDefault" class="table text-nowrap w-100">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans "Client" %}</th>
                                    <th>{% trans "Subscription" %}</th>
                                    <th>{% trans "Request" %}</th>
                                    <th>{% trans "Date" %}</th>
                                    <th>{% trans "View Request" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if requests == "none" %}

                                {% else %}
                                    {% for subrequest in requests %}
                                        <tr>
                                            <td>{{ subrequest.pk }}</td>
                                            <td>{{ subrequest.client.company }}</td>
                                            <td>
                                                {{ subrequest.subscription.service_type.name }}
                                            </td>
                                            <td>{% if subrequest.request == "1" %}
                                                    <span class="badge bg-warning">Pause</span>
                                                {% elif subrequest.request == "2" %}
                                                    <span class="badge bg-warning">Cancel</span>
                                                {% elif subrequest.request == "3" %}
                                                    <span class="badge bg-success">Resume</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                {{ subrequest.date_added|date:'Y-m-d' }}
                                            </td>
                                            <td>
                                                <button class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop" data-bs-whatever="{{ subrequest.pk }}">
                                                    <span style="text-transform: uppercase;font-size: 12px;">{% trans "View" %}</span></button>
                                                <input type="hidden" id="request-{{ subrequest.pk }}" value="{{ subrequest.pk }}" hidden>
                                                <input type="hidden" id="datead-{{ subrequest.pk }}" value="{{ subrequest.subscription.date_added|date:'m-d-Y' }}" hidden>
                                                <input type="hidden" id="dateres-{{ subrequest.pk }}" value="{{ subrequest.subscription.reset_date|date:'m-d-Y' }}" hidden>
                                                <input type="hidden" id="status-{{ subrequest.pk }}" value="{{ subrequest.subscription.status }}" hidden>
                                                <input type="hidden" id="lrep-{{ subrequest.pk }}" value="{{ subrequest.subscription.reports_allowed }}" hidden>
                                                <input type="hidden" id="lrepu-{{ subrequest.pk }}" value="{{ subrequest.subscription.reports_used }}" hidden>
                                                <input type="hidden" id="arep-{{ subrequest.pk }}" value="{{ subrequest.subscription.advanced_reports_allowed }}" hidden>
                                                <input type="hidden" id="arepu-{{ subrequest.pk }}" value="{{ subrequest.subscription.advanced_reports_used }}" hidden>
                                                <input type="hidden" id="lcred-{{ subrequest.pk }}" value="{{ subrequest.subscription.lite_credits }}" hidden>
                                                <input type="hidden" id="acred-{{ subrequest.pk }}" value="{{ subrequest.subscription.advanced_credits }}" hidden>

                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% endif %}
                               </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                </div>
            <div class="col-md-6">
                    <h5 class="title">{% trans "List of Logiflex Clients" %}</h5>
                <div id="datatable" class="mb-5">
                    <div class="card">
                    <div class="card-header">
                        <a href="{% url 'logiflex:admin:logiclientcreate' %}" class="btn btn-success">Create a new Client</a>
                    </div>
                        <div class="card-body">
                            <table id="datatableDefault" class="table text-nowrap w-100">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans "Client Number" %}</th>
                                    <th>{% trans "Email" %}</th>
                                    <th>{% trans "Date Added" %}</th>
                                    <th>{% trans "Activated" %}</th>
                                    <th>{% trans "Edit Client" %}</th>
                                </tr>
                                </thead>
                                <tbody>

                                    {% for logiclient in logiclients %}
                                        <tr>
                                            <td>{{ logiclient.pk }}</td>
                                            <td>{{ logiclient.client_number }}</td>
                                            <td>{{ logiclient.email }}</td>
                                            <td>
                                                {{ logiclient.date_added|date:'Y-m-d' }}
                                            </td>

                                            <td>
                                                {{ logiclient.activated }}
                                            </td>
                                            <td>
                                                <a href="{% url 'logiflex:admin:logiclientUpdate' logiclient.pk %}" class="btn btn-primary">Edit</a>
                                            </td>
                                        </tr>
                                    {% endfor %}


                               </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                </div>
            <div class="col-md-6">
                    <h5 class="title">{% trans "List of Service Payments" %}</h5>
                <div id="datatable" class="mb-5">
                    <div class="card">
                    <div class="card-header">
                        <a href="{% url 'logiflex:admin:servicepaymentcreate' %}" class="btn btn-success">Create a new Service</a>
                    </div>
                        <div class="card-body">
                            <table id="datatableDefault" class="table text-nowrap w-100">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>{% trans "Client" %}</th>
                                    <th>{% trans "Service Type" %}</th>
                                    <th>{% trans "lite promo. code" %}</th>
                                    <th>{% trans "Date Added" %}</th>
                                    <th>{% trans "Edit Service" %}</th>
                                </tr>
                                </thead>
                                <tbody>

                                    {% for service in servicepayments %}
                                        <tr>
                                            <td>{{ service.pk }}</td>
                                            <td>{{ service.service_type.name }}</td>
                                            <td>{{ service.client.email }}</td>
                                            <td>
                                                {{ service.lite_promotion_code }}
                                            </td>

                                            <td>
                                                {{ subrequest.date_added|date:'Y-m-d' }}
                                            </td>
                                            <td>
                                                <a href="{% url 'logiflex:admin:servicepaymentUpdate' service.pk %}" class="btn btn-primary">Edit</a>
                                            </td>
                                        </tr>
                                    {% endfor %}


                               </tbody>
                            </table>
                        </div>


                    </div>
                </div>
                </div>
            </div>

            </div>
        </section>

{% endblock contact_area %}

{% block feature_area %}
{% endblock feature_area %}

<!-- cta area starts -->
{% block cta_area %}
{% endblock cta_area %}

 <!-- footer area starts -->
{% block footer_area %}
    <form action="#" enctype="multipart/form-data">
                                    {% csrf_token %}
    </form>
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div id="toast_successreport" class="toast hide text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-body" id="message_body">

        </div>
      </div>
    </div>
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div id="toast_failreport" class="toast hide text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">

        <div class="toast-body" id="message_body">

        </div>
      </div>
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Subscription Info</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-5">
                      <label for="date-added" class="col-form-label">Date Added:</label>
                      <input type="text" class="form-control" id="date-added" disabled>
                  </div>
                  <div class="col-5">
                      <label for="date-reset" class="col-form-label">Date To Reset:</label>
                      <input type="text" class="form-control" id="date-reset" disabled>
                  </div>
                  <div class="col-2">
                      <label for="sub-status" class="col-form-label">Status:</label>
                      <input type="text" class="form-control" id="sub-status" disabled>
                  </div>
                  <div class="col-6">
                      <label for="lite-reports" class="col-form-label">Lite Reports:</label>
                      <input type="text" class="form-control" id="lite-reports" disabled>
                  </div>
                  <div class="col-6">
                      <label for="lite-reportsu" class="col-form-label">Lite Rep. Used:</label>
                      <input type="text" class="form-control" id="lite-reportsu" disabled>
                  </div>
                  <div class="col-6">
                      <label for="adv-reports" class="col-form-label">Adv. Reports:</label>
                      <input type="text" class="form-control" id="adv-reports" disabled>
                  </div>
                  <div class="col-6">
                      <label for="adv-reportsu" class="col-form-label">Adv. Rep. Used:</label>
                      <input type="text" class="form-control" id="adv-reportsu" disabled>
                  </div>
                  <div class="col-6">
                      <label for="lite-credits" class="col-form-label">Lite Credits:</label>
                      <input type="text" class="form-control" id="lite-credits" disabled>
                  </div>
                  <div class="col-6">
                      <label for="adv-credits" class="col-form-label">Adv. Credits:</label>
                      <input type="text" class="form-control" id="adv-credits" disabled>
                      <input type="hidden" id="ci-x-photo" value="" hidden >
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="approve_sub">Approve</button>
          </div>
        </div>
      </div>
    </div>
{% endblock footer_area %}
{% block js_area %}
    {{ block.super }}
    <script src={% static "assets/plugins/datatables.net/js/dataTables.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js" %}></script>
        <script src={% static "assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons/js/buttons.flash.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons/js/buttons.html5.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons/js/buttons.print.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js" %}></script>
    	<script src={% static "assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js" %}></script>
        <script src={% static "assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js" %}></script>
    	<script src={% static "assets/plugins/bootstrap-table/distro/bootstrap-table.min.js"%}></script>

    <script src={% static "assets/js/demo/table-plugins.demo.js" %}></script>
    <script>
        $("#updategas").click(function (){
            let url = "https://bizanalytic.com/logiflex/updateprices/";
            $.ajax({
                type: 'POST',
                url: url,
                data: "",
                processData: false,
                contentType: false,
                headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    if (data) {
                        var result = data;
                        var message = result.submessage;
                        var status = result.rpstatus;
                        if (message) {
                            if (status == "success"){
                                var f = $("#toast_successreport");
                                var a = new bootstrap.Toast(f);
                                $("#message_body").html(message);
                                a.show()
                            }else{
                                var f = $("#toast_failreport");
                                var a = new bootstrap.Toast(f);
                                $("#message_body").html(message);
                                a.show()
                            }
                        }
                    }
                }
                        })


            });
    </script>
    <script>
        var staticBackdrop = document.getElementById('staticBackdrop')
        staticBackdrop.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            var button = event.relatedTarget
            // Extract info from data-bs-* attributes
            var recipient = button.getAttribute('data-bs-whatever')

            //
            // Update the modal's content.
            var modalTitle = staticBackdrop.querySelector('.modal-title')
            // var modalBodyInput = staticBackdrop.querySelector('.modal-body input')
            var dateadded = document.getElementById('datead-'+ recipient)
            var datereset = document.getElementById('dateres-'+ recipient)
            var substatus = document.getElementById('status-'+ recipient)
            var lreports = document.getElementById('lrep-'+ recipient)
            var lreportsu = document.getElementById('lrepu-'+ recipient)
            var areports = document.getElementById('arep-'+ recipient)
            var areportsu = document.getElementById('arepu-'+ recipient)
            var lcredits = document.getElementById('lcred-'+ recipient)
            var acredits = document.getElementById('acred-'+ recipient)

            var date_added = document.getElementById('date-added')
            var date_reset = document.getElementById('date-reset')
            var sub_status = document.getElementById('sub-status')
            var l_reports = document.getElementById('lite-reports')
            var l_reportsu = document.getElementById('lite-reportsu')
            var a_reports = document.getElementById('adv-reports')
            var a_reportsu = document.getElementById('adv-reportsu')
            var l_credits = document.getElementById('lite-credits')
            var a_credits = document.getElementById('adv-credits')
            var cx_photo = document.getElementById('ci-x-photo')
            modalTitle.textContent = 'Subscription Info For ' + recipient
            date_added.value = dateadded.value
            date_reset.value = datereset.value
            sub_status.value = substatus.value
            l_reports.value = lreports.value
            l_reportsu.value = lreportsu.value
            a_reports.value = areports.value
            a_reportsu.value = areportsu.value
            l_credits.value = lcredits.value
            a_credits.value = acredits.value
            cx_photo.value = recipient
        })
    </script>
{% endblock js_area %}