{% extends "logiflex_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block header_left %}
    {{ block.super }}
{% endblock header_left %}

{% block header_right %}
    {{ block.super }}
{% endblock header_right %}

{% block main_menu%}
    {{ block.super }}
{% endblock main_menu%}

{% block left_menu %}
    {{ block.super }}
{% endblock left_menu %}

{% block breadcrumb %}
    <section class="breadcrumb-area mb-1" style="padding: 80px 0 20px" data-background={% static "vendor/transport/assets/images/breadcrumb-bg1.jpg" %}>
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <h1 class="title title1" style="font-size: 40px;">LogiFlex</h1>
                        <span class="title title2" style="color: #0cb7d6; font-size: 30px">&nbsp;{% trans "Transform Your Logistics Data Into Actionable Insights" %}</span>

                    </div>
                </div>
            </div>
        </section>
{% endblock breadcrumb %}

{% block contact_area %}
        <!-- contact area starts -->
        <section class="contact-area pt-40 mb-40" >
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-12">
                        <h2>{% trans "FreightOps Advanced Analytical Report" %}</h2>
                    </div>
                    {#                    <div class="col-lg-1"></div>#}
                    <div class="col-lg-6 wow fadeInRight align-content-center" id="tryfree" data-wow-delay=".2s">
                        <div class="form-part">
                            <h4 class="title text-center">{% trans "Get Your Advanced Report" %}</h4>
                            <p class="text-center">{% trans "Upload your route data and receive performance analysis" %}</p>
                            <div class="theme-form mt-40">
                                <form action="#" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="client_nm">{% trans "Contact Name" %}</label>
                                            <input type="text" id="client_nm" placeholder="Enter your Name" required="required" value="{{ contact_name }}">
                                        </div>
                                        <div class="col-12">
                                            <label for="company_nm">{% trans "Company Name" %}</label>
                                            <input type="text" id="company_nm" placeholder="Enter your Company Name" required="required" value="{{ company }}">
                                        </div>
                                        <div class="col-12">
                                            <label for="email_nm">{% trans "Email Address" %}</label>
                                            <input type="email" id="email_nm" placeholder="Enter your Email Address" disabled required="required" value="{{ email }}">
                                        </div>
                                        <div class="col-12 mb-4">
                                            <label for="route_fl" >{% trans "Route Data File" %}</label>
                                            <input type="file" id="route_fl" class="mb-0" placeholder="">
                                            <div class="d-flex justify-content-between mt-1">
                                            <span class="mt-0">{% trans "Supports .csv, .xlsx files" %}</span>


                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-check ">
                                              <input type="checkbox" value="" id="agree_create" style="width: initial">
                                              <label class="form-check-label" for="agree_call" style="color: black">
                                                {% trans "Agree to Create a Full Report" %}
                                              </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="d-flex justify-content-around">
                                                <button type="button" id="generate_full_rp" class="primary-btn primary-bg"><span class="text">{% trans "Generate Performance Report" %}</span> <span class="icon"><i class="ri-arrow-right-double-line"></i></span></button>
                                                <div class="spinner-border text-info" id="loadingstate" role="status" style="display: none">
                                                    <span class="visually-hidden">Loading...</span>
                                                  </div>
                                            </div>
                                        </div>
{#                                        <div class="d-flex justify-content-center">#}
{##}
{#                                                <div id="report-message"></div>#}
{#                                        </div>#}

                                    </div>

                                    </form>
                            </div>
                        </div>
                        <div class="devilery-text" style="width: 100%; padding: 20px;">
                                <h5 class="title">{% trans "Smarter Freight Decisions, Made Simple" %}</h5>
                            <p> At <strong>BizAnaltytic</strong>, we help small and medium freight operators unlock the power of data—without the complexity. Just upload your route file, and our AI-powered platform delivers clear, professional reports that show where you can save costs, improve routes, and boost efficiency. No spreadsheets, no guesswork—just insights that drive smarter decisions and better results.</p>
                            </div>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".2s">
                        <div class="row gx-xl-5 align-items-center">
                            <div class="col-12 wow fadeInLeft" data-wow-delay=".2s">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 style="margin-top: 20px; text-align: center;">{% trans "Analysis Instructions" %}</h4>
                                        <p style="margin-bottom: 20px; text-align: center;">{% trans "To reduce the time of the analysis, please respect the bellow instructions!" %}</p>
                                        <span class="" style="padding: 10px; display: table-cell; border: 4px solid #F8BC1E; border-radius: 20px; font-size: 18px;">
                                            <ol type="1">
                                                <li style="margin-bottom: 6px; margin-top: 6px;">
                                                    <a href="{% static "assets/sample/freight_routes_sample.csv" %}" class="btn btn-outline-danger">&nbsp;{% trans "Download the csv Template File" %}&nbsp;</a>
                                                </li>
                                                <li style="margin-bottom: 6px;">
                                                    {% trans "Use the template for your data" %}
                                                </li>
                                                <li style="margin-bottom: 6px;">
                                                    <span>{% trans "Use the same columns to fill your data" %}</span>
                                                    <br>
                                                    <span>[ShipmentID] - [Date] - [OriginCity] - [DestinationCity] - [Distance_Miles] - [FuelCost_USD] - [DriverName] - [CarrierName] -[LoadWeight_lbs] - [DeliveryStatus] - [DeliveryTime_hrs] - [FreightCost_USD] </span>

                                                </li>
                                                <li style="margin-bottom: 6px;">
                                                    <span>{% trans "Make sure there is no missing data" %}</span>
                                                    <br>
                                                    <span>{% trans "A missing column or data may delai your report" %}</span>
                                                </li>
                                                <li style="margin-bottom: 6px;">
                                                    {% trans "Upload Your .csv (text) or .xlsx (Excel) file" %}
                                                </li>
                                                <li style="margin-bottom: 6px;">
                                                    {% trans "Agree to Create a Full Report" %}
                                                </li>
                                                <li>
                                                    {% trans "Generate Performance Report" %}
                                                </li>


                                            </ol>


                                        </span>

                                    </div>
                                    <div class="col-sm-7">
                                        <img src={% static "vendor/transport/assets/images/about-3.jpg"%} alt="about" class="about-image-3" style="margin-top: 10px;">
                                    </div>
                                    <div class="col-sm-5">
                                        <img src={% static "vendor/transport/assets/images/about-42.jpg"%} alt="about" class="about-image-4" style="margin-top: 10px;">
                                        <img src={% static "vendor/transport/assets/images/service-2.jpg"%} alt="about" class="about-image-4" style="margin-top: 10px; height: 24%">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock contact_area %}

{% block feature_area %}
    {{ block.super }}
{% endblock feature_area %}

<!-- cta area starts -->
{% block cta_area %}
    {{ block.super }}
{% endblock cta_area %}

<!-- footer area starts -->
{% block footer_area %}
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div id="toast_report" class="toast hide text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
{#        <div class="toast-header" id="message_title">#}
{#          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>#}
{#          <strong class="me-auto" >{% trans "Alert" %}</strong>#}
{#          <small>{% trans "Now" %}</small>#}
{#          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>#}
{#        </div>#}
        <div class="toast-body" id="message_body">

        </div>
      </div>
    </div>
    {{ block.super }}
{% endblock footer_area %}

{% block js_area %}

    {{ block.super }}

{% endblock js_area %}
