{% extends "logiflex_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block header_left %}
    {{ block.super }}
{% endblock header_left %}

{% block header_right %}
    {{ block.super }}
{% endblock header_right %}

{% block main_menu%}
    {{ block.super }}
{% endblock main_menu%}

{% block left_menu %}
    <div class="nav-right-content">
        <a href="{% url 'logiflex:index' %}" class="primary-btn secondary-bg"><span class="text">{% trans "Try Free" %}</span> <span class="icon"><i class="ri-arrow-right-double-line"></i></span></a>
    </div>
{% endblock left_menu %}

{% block breadcrumb %}
    {{ block.super }}
{% endblock breadcrumb %}

{% block contact_area %}
        <!-- contact area starts -->
        <section class="contact-area pt-40 mb-40" >
            <div class="container">
                <div class="row justify-content-around">

                    {#                    <div class="col-lg-1"></div>#}
                    <div class="col-lg-6 wow fadeInRight align-content-center" id="tryfree" data-wow-delay=".2s">
                        <div class="form-part">
                            <h4 class="title text-center">{% trans "Get Your Advanced Report" %}</h4>
                            <p class="text-center">{% trans "Upload your route data and receive performance analysis" %}</p>
                            <div class="theme-form mt-40">
                                <form action="#" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="client_nm">{% trans "Contact Name" %}</label>
                                            <input type="text" id="client_nm" placeholder="Enter your Name" required="required" value="{{ contact_name }}">
                                        </div>
                                        <div class="col-12">
                                            <label for="company_nm">{% trans "Company Name" %}</label>
                                            <input type="text" id="company_nm" placeholder="Enter your Company Name" required="required" value="{{ company }}">
                                        </div>
                                        <div class="col-12">
                                            <label for="email_nm">{% trans "Email Address" %}</label>
                                            <input type="email" id="email_nm" placeholder="Enter your Email Address" disabled required="required" value="{{ email }}">
                                        </div>
                                        <div class="col-12 mb-4">
                                            <label for="route_fl" >{% trans "Route Data File" %}</label>
                                            <input type="file" id="route_fl" class="mb-0" placeholder="">
                                            <div class="d-flex justify-content-between mt-1">
                                            <span class="mt-0">{% trans "Supports .csv, .xlsx files" %}</span>
                                            <a href="{% static "assets/sample/freight_routes_sample.csv" %}" class="btn btn-outline-danger">&nbsp;{% trans "Download a csv Template File" %}&nbsp;</a>

                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check ">
                                              <input type="checkbox" value="" id="agree_create" style="width: initial">
                                              <label class="form-check-label" for="agree_call">
                                                {% trans "Agree to Create a Full Report" %}
                                              </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="d-flex justify-content-center">
                                                <button type="button" id="generate_full_rp" class="primary-btn primary-bg"><span class="text">{% trans "Generate Performance Report" %}</span> <span class="icon"><i class="ri-arrow-right-double-line"></i></span></button>

                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-center">

                                                <div id="report-message"></div>
                                        </div>

                                    </div>

                                    </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInLeft" data-wow-delay=".2s">
                        <div class="row gx-xl-5 align-items-center">
                            <div class="col-12 wow fadeInLeft" data-wow-delay=".2s">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <img src={% static "vendor/transport/assets/images/about-3.jpg"%} alt="about" class="about-image-3">
                                        <span class="text-stroke paragraph-color third-border mt-20">{% trans "Smarter Decisions" %}</span>
                                    </div>
                                    <div class="col-sm-5">
                                        <img src={% static "vendor/transport/assets/images/about-4.jpg"%} alt="about" class="about-image-4">
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock contact_area %}

{% block feature_area %}
    {{ block.super }}
{% endblock feature_area %}

<!-- cta area starts -->
{% block cta_area %}
    {{ block.super }}
{% endblock cta_area %}

<!-- footer area starts -->
{% block footer_area %}
    {{ block.super }}
{% endblock footer_area %}

{% block js_area %}
    {{ block.super }}
{% endblock js_area %}
