{% extends "logiflex_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block css %}
    {{ block.super }}
    <style>
        .chart-card { min-height: 420px; }
        .card-header { color: black;}
        .card-footer {min-height: 180px; padding-left: 30px; }
        strong { font-weight: 500; color: black}
        .comp {color: #03afa6;}
        .odds {color: black;}
        .worst {color: darkred;}
        .bottom {color: #118aea;}
        ol {
            padding-left: 0rem;
        }

        .apexcharts-canvas {
            margin: 0 auto;
        }
        #DriverSpeedMPG1, .chart-box {
            padding-top: 20px;
            padding-left: 10px;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.1);
            max-width: 650px;
            margin: 35px auto;
        }
        iframe {
            {#border: 2px solid #333;#}
            margin-top: 0px;
            width: 100%;
            height: 100%;
        }
    </style>
{#    <link href={% static "assets/css/app.min.css" %} rel="stylesheet">#}
{% endblock css %}

{% block header_left %}
    {{ block.super }}
{% endblock header_left %}

{% block header_right %}
    {{ block.super }}
{% endblock header_right %}

{% block main_menu%}
    {{ block.super }}
{% endblock main_menu%}

{% block left_menu %}
    {{ block.super }}
{% endblock left_menu %}

{% block breadcrumb %}
     <section class="breadcrumb-area mb-1" style="padding: 80px 0 20px" data-background={% static "vendor/transport/assets/images/breadcrumb-bg1.jpg" %}>
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <div class="d-flex align-items-center">
                            <span class="title" style="color: white; font-size: 25px">LogiFlex</span>
                        </div>
                    </div>
                    <div class="col-9 ">
                        <div class="d-flex justify-content-center align-items-center">

                            <span class="title" style="color: #0cb7d6; font-size: 40px">{% trans "FreightOps Report" %} -</span>
                            <span class="title" style="color: white; font-size: 40px;">&nbsp;{{ reportid }}</span>
                        </div>

                    </div>
                </div>
            </div>
        </section>
{% endblock breadcrumb %}

{% block contact_area %}
{#    data-background={% static "vendor/transport/assets/images/service-bg-2.jpg"%}#}
    <section class="service-area-2 biography-area py-20" >
        <div class="container py-4" style="max-width: 100%;">

       <!-- Report Info Section -->
        <div class="row">
                <div class="" id="col-1">
                    <div class="row g-4">
            <div class="col-12">
                <div class="row justify-content-center">
                    <div class="col-12 text-center" style="background-color: #e1e0e0; margin-bottom: 15px;">
                        <h2>Carriers Performance</h2>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" style="height: 8rem; ">
                        <div class="single-counter" style="background-color: #2ba3c4; padding-bottom: 0.25rem; padding-top: 0.75rem">
                            <span class="title">Best On-Time Rate</span>
                            <div class="d-flex align-items-center gap-3">
                                <img class="icon" src={% static "vendor/transport/assets/images/icon-16.png"%} alt="icon">
                                <div class="counter-number d-flex">
                                    <h3 class="counter">{{ carrier_ontime }}</h3><h3> %</h3>
                                </div>
                            </div>
                            <span class="title">{{ carrier_ontime_name }}</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" style="height: 8rem; ">
                        <div class="single-counter" style="background-color: #EB5849; padding-bottom: 0.25rem; padding-top: 0.75rem">
                            <span class="title">Lowest Freight Cost </span>
                            <div class="d-flex align-items-center gap-3">
                                <img class="icon" src={% static "vendor/transport/assets/images/icon-16.png"%} alt="icon">
                                <div class="counter-number d-flex">
                                    <H3>$ </H3><h3 class="counter">{{ carrier_freightcost }}</h3>
                                </div>
                            </div>
                            <span class="title">{{ carrier_freightcost_name }}</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" style="height: 8rem; ">
                        <div class="single-counter" style="background-color: #2ba3c4; padding-bottom: 0.25rem; padding-top: 0.75rem">
                            <span class="title">Lowest Cost Per Mile</span>
                            <div class="d-flex align-items-center gap-3">
                                <img class="icon" src={% static "vendor/transport/assets/images/icon-16.png"%} alt="icon">
                                <div class="counter-number d-flex">
                                    <h3>$ </h3><h3 class="counter">{{ carrier_costpermile }}</h3>
                                </div>
                            </div>
                            <span class="title">{{ carrier_costpermile_name }}</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" style="height: 8rem; ">
                        <div class="single-counter" style="background-color: #EB5849; padding-bottom: 0.25rem; padding-top: 0.75rem">
                            <span class="title">Lowest Cost Per Pound</span>
                            <div class="d-flex align-items-center gap-3">
                                <img class="icon" src={% static "vendor/transport/assets/images/icon-16.png"%} alt="icon">
                                <div class="counter-number d-flex">
                                   <h3>$ </h3><h3 class="counter">{{ carrier_costpound }}</h3>
                                </div>
                            </div>
                            <span class="title">{{ carrier_costpound_name }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card shadow-sm chart-card">
                    <div class="card-header">
                        {% trans "Carrier Cost vs. Reliability Analysis" %}
                    </div>
                    <div class="card-body text-center">

                        <div id="CarrierCostReliabilityChart"></div>
                    </div>
                {% if reporttype == "advanced" %}
                    <div class="card-footer">

                            <ul style="list-style-type:disc;">
                                {% for item in contigency %}
                                    <li> {{ item|safe }}</li>
                                {% endfor %}

                            </ul>
                            <strong>Actions:</strong><br>
                            <ol type="1">
                                {% for cont_action in contingency_action %}
                                <li> {{ cont_action|safe }}</li>
                                {% endfor %}
                            </ol>

                    </div>
                {% endif %}
                </div>
            </div>

            <div class="col-md-6" >
                <div class="card shadow-sm chart-card">
                    <div class="card-header">
                        {% if reporttype == "lite" %}
                            {% trans "Carriers Key Insights and Recommended Actions" %}
                        {% elif reporttype == "advanced" %}
                            {% trans "Fuel Cost per Mile Distribution by Carrier" %}
                        {% endif %}

                    </div>

                         {% if reporttype == "lite" %}
                             <div class="card-body " style="padding-left: 40px;">
                             <div id="CarrierCostPerMile" style="min-height: 365px;">
                             <strong>Key Insights</strong><br>
                             <ul style="list-style-type:disc;">
                                {% for item in contigency %}
                                    <li> {{ item|safe }}</li>
                                {% endfor %}
                                <li>{{ highcostvariance|safe }}</li>
                                 <li>{{ lowcostvariance|safe }}</li>

                             </ul>
                            <br><strong>Actions:</strong><br>
                            <ol type="1">
                                {% for cont_action in contingency_action %}
                                    <li> {{ cont_action|safe }}</li>
                                {% endfor %}
                                {% for action in costreliability_action %}
                                    <li>{{ action|safe }}</li>
                                {% endfor %}
                            </ol>
                             </div>
                             </div>
                        {% elif reporttype == "advanced" %}
                             <div class="card-body text-center">
                            <div id="CarrierCostPerMile"></div>
                             </div>
                        {% endif %}

                {% if reporttype == "advanced" %}
                    <div class="card-footer">

                        <ul style="list-style-type:disc;">
                            <li>{{ highcostvariance|safe }}</li>
                            <li>{{ lowcostvariance|safe }}</li>

                        </ul>

                        <strong>Actions:</strong><br>
                        <ol type="1">
                            {% for action in costreliability_action %}
                            <li>{{ action|safe }}</li>
                            {% endfor %}
                        </ol>

                    </div>
                {% endif %}
                </div>
            </div>
{#        <div class="" id="col-helper">#}

{#      </div>#}
        <div class="col-12">
                <div class="row justify-content-center text">
                    <div class="col-12 text-center" style="background-color: #e1e0e0; margin-bottom: 15px; margin-top: 15px;">
                        <h2>Drivers Performance</h2>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" style="height: 8rem; ">
                        <div class="single-counter" style="background-color: #2ba3c4; padding-bottom: 0.25rem; padding-top: 0.75rem">
                            <span class="title">Best On-Time Rate</span>
                            <div class="d-flex align-items-center gap-3">
                                <img class="icon" src={% static "vendor/transport/assets/images/icon-16.png"%} alt="icon">
                                <div class="counter-number d-flex">
                                    <h3 class="counter">{{ driver_ontime }}</h3><h3> %</h3>
                                </div>
                            </div>
                            <span class="title">{{ driver_ontime_name }}</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" style="height: 8rem; ">
                        <div class="single-counter" style="background-color: #EB5849; padding-bottom: 0.25rem; padding-top: 0.75rem">
                            <span class="title">Higher Miles Traveled </span>
                            <div class="d-flex align-items-center gap-3">
                                <img class="icon" src={% static "vendor/transport/assets/images/icon-16.png"%} alt="icon">
                                <div class="counter-number d-flex">
                                    <h3 class="counter">{{ driver_totalmiles }}</h3>
                                </div>
                            </div>
                            <span class="title">{{ driver_totalmiles_name }}</span>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" style="height: 8rem; ">
                        <div class="single-counter" style="background-color: #2ba3c4; padding-bottom: 0.25rem; padding-top: 0.75rem">
                            <span class="title">Fastest Driver</span>
                            <div class="d-flex align-items-center gap-3">
                                <img class="icon" src={% static "vendor/transport/assets/images/icon-16.png"%} alt="icon">
                                <div class="counter-number d-flex">
                                    <h3 class="counter">{{ driver_speed }}</h3><h4 style="color: white">&nbsp;MPH</h4>
                                </div>
                            </div>
                            <span class="title">{{ driver_speed_name }}</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" style="height: 8rem; ">
                        <div class="single-counter" style="background-color: #EB5849; padding-bottom: 0.25rem; padding-top: 0.75rem">
                            <span class="title">Most Efficient</span>
                            <div class="d-flex align-items-center gap-3">
                                <img class="icon" src={% static "vendor/transport/assets/images/icon-16.png"%} alt="icon">
                                <div class="counter-number d-flex">
                                   <h3 class="counter">{{ driver_medianmpg }}</h3> <h4 style="color: white">&nbsp;MPG</h4>
                                </div>
                            </div>
                            <span class="title">{{ driver_medianmpg_name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-md-6">
                <div class="card shadow-sm chart-card">
                    <div class="card-header">
                        {% trans "Driver Productivity Matrix: On-Time Rate Vs. Median MPG Vs. Median Speed" %}
                    </div>
                    <div class="card-body text-center">
                            <div id="DriverMpgOnTime"></div>
                    </div>
                {% if reporttype == "advanced" %}
                    <div class="card-footer">
                        <ul>
                            {% for drivermessage in driver_messages %}
                                <li>{{ drivermessage.msg|safe }}<a href="#" class="btn btn-outline-primary btn-sm" role="button" data-act="{{ drivermessage.ref }}">i</a>
                                    <input type="hidden" id="{{ drivermessage.ref }}" value="{{ drivermessage.extmsg }}">
                                </li>
                            {% endfor %}

                        </ul>
                        <strong>Actions:</strong><br>
                        <ol type="1">
                            {% for daction in driver_actions %}
                            <li>
                                {{ daction|safe }}
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                {% endif %}
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow-sm chart-card">
                    <div class="card-header">
                        {% if reporttype == "lite" %}
                            {% trans "Driver Key Insights and Recommended Actions" %}
                        {% elif reporttype == "advanced" %}
                            {% trans "Fuel Cost per Mile Distribution by Driver" %}
                        {% endif %}
                    </div>
                    {% if reporttype == "lite" %}
                             <div class="card-body " style="padding-left: 40px;">
                             <div id="DriverCostPerMile" style="min-height: 365px;">
                             <strong>Key Insights</strong><br>
                             <ul style="list-style-type:disc;">
                                {% for drivermessage in driver_messages %}
                                <li>{{ drivermessage.msg|safe }}</li>
                            {% endfor %}

                             </ul>
                            <br><strong>Actions:</strong><br>
                            <ol type="1">
                                {% for daction in driver_actions %}
                            <li>
                                {{ daction|safe }}
                            </li>
                            {% endfor %}
                            </ol>
                             </div>
                             </div>
                    {% elif reporttype == "advanced" %}
                             <div class="card-body text-center">
                            <div id="DriverSpeedMPG"></div>
                             </div>
                    {% endif %}

                {% if reporttype == "advanced" %}
                    <div class="card-footer">
                        <strong>Key Insights</strong><br>
                             <ul style="list-style-type:disc;">
                                {% for drivermessage in driver_messages %}
                                <li>{{ drivermessage.msg|safe }}<a href="#" class="btn btn-outline-primary btn-sm" role="button" data-act="{{ drivermessage.ref }}">i</a>
                                    <input type="hidden" id="{{ drivermessage.ref }}" value="{{ drivermessage.extmsg }}">
                                </li>
                            {% endfor %}

                             </ul>
                            <br><strong>Actions:</strong><br>
                            <ol type="1">
                                {% for daction in driver_actions %}
                            <li>
                                {{ daction|safe }}
                            </li>
                            {% endfor %}
                            </ol>
                    </div>
                    <form action="#" enctype="multipart/form-data">
                                    {% csrf_token %}
                    </form>
                {% endif %}
                </div>
            </div>

            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">

                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 <div class="card shadow-sm">
                    <div class="card-body text-center">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="card shadow-sm">
                    <div class="card-body text-center">


                    </div>
                </div>
            </div>
            <div class="col-md-4">
                 <div class="card shadow-sm">
                    <div class="card-body text-center">

                    </div>
                </div>
            </div>
        </div>
                </div>
                <div class="" id="col-2" style="border: 2px solid rgb(204, 204, 204); background: #e1e0e0;">

                    <div class="d-flex justify-content-between w-100" id="framebutton" style="display: none; background: #e1e0e0; height: 30px;">
                        <h6 style="margin-bottom: 0px; margin-top: 5px;">More Info</h6>
                        <button class='btn btn-outline-primary btn-sm' id="removeButton" style="display: none; height: 100%; font-size: 0.75rem;">x</button>
                    </div>
                    <div id="frameContainer" style="width: 100%; height: 100%"></div>
                </div>
            </div>


    </div>
    </section>
{% endblock contact_area %}

{% block feature_area %}

{% endblock feature_area %}

<!-- cta area starts -->
{% block cta_area %}
    {{ block.super }}
{% endblock cta_area %}

<!-- footer area starts -->
{% block footer_area %}
    {{ block.super }}
{% endblock footer_area %}

{% block js_area %}
    {{ block.super }}
    <script src={% static "assets/plugins/apexcharts/distro/apexcharts.min.js" %}></script>
    <script src={% static "assets/plugins/Danfo/bundle.min.js" %}></script>
{#    <script src={% static "assets/js/app.min.js" %}></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js"></script>
    <script src={% static "assets/js/pages/chart-apex.pmf.js" %}></script>
     <script>
    /* Controller
------------------------------------------------ */
$(document).ready(function() {

    var rt = "{{ reporttype }}";
    full_df = {{ carrierstats|safe }};
    df_driver = {{ driverstats|safe }};
    var costpermile = "0";
    var costmiledriver = "0";
    if (rt === "advanced"){
        costpermile = {{ costmile|safe }};
        costmiledriver = {{ costmiledriver|safe }}
    }else if (rt === "lite"){
        costpermile = "0";
        costmiledriver = "0";
    }


    {#console.log(costpermile);#}
    {#console.log(df_driver);#}
    {##}
    {#dfcost = new dfd.DataFrame(costpermile);#}
    {#console.log(dfcost);#}
    {#dfcost.sortValues("CostPerMile", { inplace: true })#}
    {#let group_df = dfcost.groupby(["CarrierName"]);#}
    {##}
    {#let a = group_df.getGroup(["ABC Carriers"]);#}
    {#let b = group_df.getGroup(["XYZ Freight"]);#}
    {#let c = group_df.getGroup(["DEF Logistics"]);#}
    {#let d = group_df.getGroup(["GHI Transport"]);#}
    {##}
    {#const median = d3.quantile(b["CostPerMile"].values, 0.5);#}
    {#const q1 = d3.quantile(b["CostPerMile"].values, 0.25);#}
    {#const min = d3.min(b["CostPerMile"].values);#}
    {#const max = d3.max(b["CostPerMile"].values);#}
    {#const q3 = d3.quantile(b["CostPerMile"].values, 0.75);#}
    {##}
    {#console.log('min:', min);#}
    {#console.log('q1:', q1);#}
    {#console.log('median:', median);#}
    {#console.log('q3:', q3);#}
    {#console.log('max:', max);#}
    {#a.print();#}
    {#for (let i = 0; i < df.shape[0]; i++) {#}
    {#    console.log()#}



    handleRenderApexChart(full_df, costpermile, df_driver, costmiledriver);
	{#handleRenderApexChart(full_df);#}

	$(document).on('theme-reload', function() {
		{#$('#churncontractiondonut, #apexLineChart, #apexColumnChart, #apexAreaChart, #apexBarChart, #apexMixedChart, #apexCandlestickChart, #apexBubbleChart, #apexScatterChart, #apexHeatmapChart, #apexPieChart, #apexRadialBarChart, #apexRadarChart').empty();#}
        if (costpermile !== "0") {
            $('#CarrierCostReliabilityChart, #CarrierCostPerMile, #DriverMpgOnTime').empty();
        }else {
            $('#CarrierCostReliabilityChart, #DriverMpgOnTime').empty();
        }

		handleRenderApexChart(full_df, costpermile, df_driver);
	});
});
    </script>

    <script>
   document.getElementById('addFrameButton').addEventListener('click', function() {

    const myFrame = document.getElementById('myFrame');

        fetch('/api/your-data-endpoint/')
        .then(response => response.json()) // Or .text() for HTML fragments
        .then(data => {
            // Process the data or inject the HTML into a specific element
            document.getElementById('content-area').innerHTML = data;
        })
        .catch(error => console.error('Error fetching data:', error));


    // Create a new iframe element
    var iframe = document.createElement('iframe');
    if (myFrame){
        console.log("Frame exist");

    }else {
    // Set attributes for the iframe
        iframe.src = ''; // Replace with the URL of the content to display
        iframe.id = 'myFrame';
        iframe.width = '600';
        iframe.height = '400';
        iframe.style.border = '1px solid #ccc'; // Optional: Add a border for visibility

        // Append the iframe to a container element in the HTML
        document.getElementById('frameContainer').appendChild(iframe);
    }
});


</script>

<script>
$('body').on('click', '[data-act]', function() {
    let cixphoto =  $(this).data('act');
    let frame = $("#" + cixphoto).val();
    console.log("Started1");
    console.log(cixphoto);
    const myframe = document.getElementById("myFrame");
    console.log(myframe);
    if (myframe) {

        myframe.remove(); // Removes the iframe element from the DOM
    }
        {#let url = "https://bizanalytic.com/logiflex/reports/helper/";#}
        {#const formData = new FormData();#}
        {#    console.log("Started");#}
        {#    formData.append('cixphoto', cixphoto);#}
        {#    $.ajax({#}
        {#        type: 'POST',#}
        {#        url: url,#}
        {#        data: formData,#}
        {#        processData: false,#}
        {#        contentType: false,#}
        {#        headers: {'X-CSRFToken': $('input[name=csrfmiddlewaretoken]').val()},#}
        {#        success: function (data) {#}
        {#            if (data) {#}
        {#                var result = data;#}
        {#                var frame = result.submessage;#}
        {#                if(frame){#}
    var iframe = document.createElement('iframe');
    iframe.id = 'myFrame';
    {#iframe.width = '600';#}
    {#iframe.height = '400';#}
    iframe.style.border = '1px solid #ccc';
    iframe.srcdoc = frame; // Replace with the URL of the content to display
    // Optional: Add a border for visibility
    $("#col-1").attr('class', 'col-9');
    $("#col-2").attr('class', 'col-3');
    {#var but = "<button type='button' class='btn btn-outline-primary btn-sm' id='removeButton'>x</button>"#}
    {#$("#frameContainer").attr('class', 'col-3');#}
    {#$("#framebutton").attr('class', 'd-flex justify-content-end w-100');#}
    {#$("#framebutton").append(but);#}
    $("#framebutton").show();
    $("#removeButton").show();

    $("#frameContainer").append(iframe)




    });
</script>
<script>
{#const myButton = document.querySelector('#removeButton');#}
{##}
{##}
{#    myButton.addEventListener('click', () => {#}
$("#removeButton").click(function (){
        const myFrame = document.getElementById('myFrame');

        console.log("Checked", myFrame);
        if (myFrame) {
                myFrame.remove(); // Removes the iframe element from the DOM
        }
        {#col1 = document.getElementById('col-1');#}
        {#col1.className = 'col-12';#}
        {#col1 = document.getElementById('col-2');#}
        {#col1.className = '';#}
        {#frameButton = document.getElementById('framebutton');#}
        {#frameButton.className= "";#}
        $("#col-1").attr('class', 'col-12');
        $("#col-2").attr('class', '');
        $("#removeButton").hide();
        $("#framebutton").hide();


    });
</script>
{% endblock js_area %}


