{% extends "logiflex_base.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}


{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block css %}
    {{ block.super }}
{% endblock css %}

{% block header_left %}
    {{ block.super }}
{% endblock header_left %}

{% block header_right %}
    {{ block.super }}
{% endblock header_right %}

{% block main_menu%}
    {{ block.super }}
{% endblock main_menu%}

{% block left_menu %}
    {{ block.super }}
{% endblock left_menu %}

{% block breadcrumb %}
     <section class="breadcrumb-area mb-1" style="padding: 80px 0 20px" data-background={% static "vendor/transport/assets/images/breadcrumb-bg1.jpg" %}>
            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <div class="d-flex justify-content-center align-items-center">
                            <h1 class="title">LogiFlex - </h1>
                            <span class="title" style="color: #0cb7d6; font-size: 40px">&nbsp;{% trans "Report Details" %}</span>
                        </div>
                        <p style="color: white; font-size: 18px;">{% trans "Report ID:" %}&nbsp;{{ report.report_id }}</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock breadcrumb %}

{% block contact_area %}
    <section class="service-area-2 biography-area py-20" data-background={% static "vendor/transport/assets/images/service-bg-2.jpg"%}>
        <div class="container py-4">

       <!-- Report Info Section -->
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">{% trans "Report Status" %}</h5>
                        <p class="text-success fw-bold" style="font-size: 20px;">
                            {% if report.report_status == "processing" %}
                                80%
                            {% elif report.report_status == "download" %}
                                {% if report.report %}
                                    <a href="{{ report.report.url }}" class="btn btn-success btn-sm">{% trans "Download" %}</a>
                                {% else %}
                                    {% trans "Under Final Review" %}
                                {% endif %}
                            {% elif report.report_status == "canceled" %}
                                <span class="badge bg-warning">{% trans "Canceled" %}</span>
                            {% elif report.report_status == "late" %}
                                <span class="badge bg-danger">{% trans "Late!! We appologize. Comming Soon" %}</span>
                            {% endif %}
                        </p>
                        <p class="text-muted">{% trans "Report completion progress" %}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">{% trans "Expected Delivery" %}</h5>
                        <p class="fw-bold" style="font-size: 20px;">{{ report.expected_delivery|date:"F j, Y" }}&nbsp;- &nbsp;<span style="color: #0cb7d6;">{{ report.expected_delivery|date:"H:i:s" }}</span></p>
                        <p class="text-muted">{% trans "Estimated completion time" %}</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">{% trans "Uploaded File" %}</h5>
                        <p class="fw-bold" style="font-size: 20px;">{{ report.routefilename }}</p>
                        <p class="text-muted">{% trans "File successfully processed" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">{% trans "Full Report" %}</h5>
                        <a href="{% url 'logiflex:reports:reportview' report.pk %}" class="btn btn-success btn-lg">{% trans "View Full Report" %}</a>
                        <p class="text-muted">{% trans "Check Your Full Advanced Analytical Report" %}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>

        <div class="d-flex justify-content-center pt-4">
            <h4>{% trans "Route File Processing Report" %}</h4>
        </div>
        <div class="row g-4">
            <div class="col-md-8">
            <h4 class="card-title">{% trans "Data Description" %}</h4>
                 <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title mb-1">{% trans "Important Information" %}</h5>
                        <p style="font-weight: bold">{% trans "Carriers" %}</p>
                        <p>
                        {% for carrier in carriers %}
                            {{ carrier }} -
                        {% endfor %}
                        </p>
                        <br>
                        <p style="font-weight: bold">{% trans "Drivers" %}</p>
                        <p>
                        {% for driver in drivers %}
                            {{ driver }} -
                        {% endfor %}
                        </p>
                        <br>
                        <p style="font-weight: bold">{% trans "Delivery Status" %}</p>
                        <p>
                        {% for status in deliverystatus %}
                            {{ status }}
                        {% endfor %}
                        </p>
                        <br>
                        <h6 class="card-title">{% trans "Important Statistics" %}</h6>
                        <p>
                            {{ distance_str }}
                        </p>
                        <p>{{ fuelcost_str }}</p>
                        <p>{{ loadweight_str }}</p>
                        <p>{{ deliveryhrs_str }}</p>

{#                        <p class="text-muted">{% trans "File successfully processed" %}</p>#}
                    </div>
                </div>
            </div>
{#            <div class="col-md-8">#}
{#                 <div class="card shadow-sm">#}
{#                    <div class="card-body text-center">#}
{##}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
            <div class="col-md-4">
                <h4 class="card-title">{% trans "Data Cleanning" %}</h4>
                 <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title">{% trans "Column Names Modifications" %}</h5>
                        {% for item in logcolumn %}
                            <p>{{ item|safe }}
                        {% endfor %}
                        <br>
                        ===================================
                        ===================================
                        <h5 class="card-title">{% trans "Citie Column Modifications" %}</h5>
                        {% for itemcity in logcity %}
                            <p>{{ itemcity|safe }}
                        {% endfor %}
                        <br>
                        ===================================
                        ===================================
                        <h5 class="card-title">{% trans "Date Column Modifications" %}</h5>
                        {% for itemdate in logdate %}
                            <p>{{ itemdate|safe }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


    </div>
    </section>
{% endblock contact_area %}

{% block feature_area %}

{% endblock feature_area %}

<!-- cta area starts -->
{% block cta_area %}
    {{ block.super }}
{% endblock cta_area %}

<!-- footer area starts -->
{% block footer_area %}
    {{ block.super }}
{% endblock footer_area %}

{% block js_area %}
    {{ block.super }}
{% endblock js_area %}


